.grid {
  background-color: rgb(var(--background-primary));
  background-size: 10px 10px, 30px 30px;
  background-image:
    linear-gradient(to bottom, rgb(var(--background-primary)) 5px, transparent 5px),
    linear-gradient(to right, transparent 7px, rgb(var(--border-primary)) 7px, rgb(var(--border-primary)) 8px, transparent 8px),
    linear-gradient(to right, transparent 5px, rgb(var(--background-primary)) 5px),
    linear-gradient(to bottom, transparent 5px, rgb(var(--border-primary)) 5px, rgb(var(--border-primary)) 6px, transparent 6px);
    
  background-position: 0px 5px;

  opacity: 0.6;
}

.gridInner {
  background-image: linear-gradient(to bottom, rgba(var(--background-primary), 0.3) 20%, rgba(var(--background-primary), 1) 40%, rgba(var(--background-primary), 1) 100%);
}