
.grid {
  background-color: rgb(var(--background-secondary));
  background-size: 10px 10px, 30px 30px;
  background-image:
    linear-gradient(to bottom, rgb(var(--background-secondary)) 5px, transparent 5px),
    linear-gradient(to right, transparent 7px, rgb(var(--border-primary)) 7px, rgb(var(--border-primary)) 8px, transparent 8px),
    linear-gradient(to right, transparent 5px, rgb(var(--background-secondary)) 5px),
    linear-gradient(to bottom, transparent 5px, rgb(var(--border-primary)) 5px, rgb(var(--border-primary)) 6px, transparent 6px);
    
  background-position: -5px 0px;
}

.gridInner {
  background-image: linear-gradient(to bottom, transparent 70%, rgba(var(--background-secondary), 0.75) 100%);
}


.slideFromLeft > *:not(.techIcons) {
  opacity: 0;
  animation: slideFromLeft 650ms forwards;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.slideFromLeft > *:nth-child(1) { animation-delay: 200ms; }
.slideFromLeft > *:nth-child(2) { animation-delay: 400ms; }
.slideFromLeft > *:nth-child(3) { animation-delay: 600ms; }
.slideFromLeft > *:nth-child(4) { animation-delay: 800ms; }


@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translate3d(-50px, 0px, 0px);
  }

  99% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }

  100% {
    opacity: unset;
  }
}
