

.container {
  position: relative;

  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

.header {
  margin: 0;

  font-family: "Roboto";
  font-weight: 300;
  font-size: 40px;
}

.title {
  display: flex;
  align-items: center;

  margin-left: 10%;
  margin-top: 10%;
}

.profile {
  position: absolute;
  right: -200px;
  bottom: 0;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  object-fit: contain;
  overflow: hidden;

  z-index: -1;
}

.cursor {
  margin: 0;
  margin-left: 7.5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0;
  width: 3px;
  height: 35px;

  background-color: #ffffff;

  animation: cursor infinite 1s;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.description {
  margin: 0;
  margin-left: 10%;
  margin-top: 5px;

  font-family: "Roboto";
}

.links {
  display: flex;
  align-items: center;

  margin-left: 10%;
  margin-top: 40px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 126px;
  height: 36px;
  border-radius: 18px;

  background-color: #181818;
  border: 1px solid #444444;

  transition: 300ms;
}

.contact p {
  margin: 0;
  margin-left: 5px;

  font-family: "Roboto";
  font-size: 14px;
}

.contact:hover {
  background-color: #222222;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 10px;
  min-width: 100px;

  transition: 300ms;
}

.projects p {
  margin: 0;
  margin-right: 5px;

  font-family: "Roboto";
  font-size: 14px;
}

.projects span {
  transition: 300ms;
}

.projects:hover p {
  color: #ddeeff;
}

.projects:hover span {
  transform: translateX(3px);
}

@media screen and (orientation:portrait) {
  .title {
    margin-left: 0;
    margin-right: 0;
  }

  .description {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }

  .profile {
    left: 0;

    object-fit: cover;

    opacity: 0.5;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .header {
    margin: 0;
    padding: 0;

    font-size: calc(20px + 5vw);
  }

  .links {
    margin-left: 10px;
    margin-right: 10px;
  }
}

