.title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.projectCarouselContainer {
  width: 100%;
  overflow: auto;
}
.projectCarousel {
  display: flex;
  float: left;

  min-width: 100%;
  
  flex-wrap: nowrap;
  flex-shrink: unset;
  overflow: auto;
}